# Jupyter
.ipynb_checkpoints/
notebook/.ipynb_checkpoints/

# Datasets
datasets/processed/
datasets/*.npy
datasets/*_cleaned.csv
datasets/*_balanced.csv
datasets/*_selected_features.csv

# Environment
.env

# Python cache
__pycache__/
*.pyc

# Database
*.db

# Logs
logs/
*.log

# ChromaDB
chroma_db/

# Virtual Environment
venv/

# Notebook models
notebook/models/
notebook/ml/models/

# ============================
# Machine Learning Models
# ============================

models/*.pkl
models/*.joblib

# Production models to keep
!models/loan_model.pkl
!models/fraud_model.pkl
!models/scaler.pkl
!models/credit_scaler.pkl
!models/credit_feature_names.pkl
!models/credit_target_encoder.pkl
!models/customer_scaler.pkl
!models/customer_segmentation_model.pkl
!models/complaint_classifier.pkl
!models/tfidf_vectorizer.pkl