fastapi
uvicorn[standard]

sqlalchemy
psycopg2-binary

pydantic
pydantic-settings

python-dotenv

passlib[bcrypt]
python-jose[cryptography]

pandas
numpy
scikit-learn
joblib

langchain
langchain-community
langchain-core
langgraph

langchain-groq
langchain-chroma
langchain-huggingface

chromadb
sentence-transformers
transformers
huggingface-hub

pypdf

requests
httpx

python-multipart

email-validator

bcrypt